<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas</title>
    <h1>Receta de tarta de Frutillas</h1>
</head>
<p>Bienvenidos a Paulina Cocina! Hoy tenemos una tarta de frutillas que se van a volver recontra locos! Esta es una de las primeras tartas que hice en mi juventud, un octubre para el cumpleaños de mi hermano.</p>
<hr>
<body>
    <h2>Lista de Ingredientes</h2>
    <ul>
        <li>Harina 0000 250 g.</li>
        <li>Manteca 100 g</li>
        <li>1 Cdita esencia de vainilla</li>
        <li>135g. de azúcar</li>
        <li>1 huevo</li>
        <li>250 ml de leche</li>
        <li>55 grs de azúcar</li>
        <li>2 yemas</li>
        <li>20 grs de maicena</li>
        <li>250g. de crema de leche</li>
        <li>1 cda. de azúcar</li>
        <li>500g. de frutillas</li>
        <li>1 sobre de gelatina de frutillas.</li>
    </ul>
    <h2>Lista de Pasos</h2>
    <ol type="I"> <li>Para la masa vamos a colocar la manteca pomada en un bol y la vamos a batir un minuto. Luego vamos a agregar el azúcar y batir hasta que se integre. Agregar el huevo y continuar batiendo.</li>
        <li>Agregar la ralladura de limón y la mitad de la harina. Mezclar en el bol y agregar el resto de la harina uniendo con la mano. No hay que amasar, si no integrar todo.</li>
        <li>Agregar la ralladura de limón y la mitad de la harina. Mezclar en el bol y agregar el resto de la harina uniendo con la mano. No hay que amasar, si no integrar todo.</li>
        <li>Una vez unida, envolver en papel film y llevar a la heladera unos 30 minutos. (Mientras van haciendo el relleno!)</li>
        <li>Para estirar la masa, cubrir con papel film la mesada y estirar encima. Se pueden ayudar de un poco de harina para que el palote no se pegue. Para llevar la masa al molde, levantamos el papel film de la mesada y la volcamos sobre el molde. </li>
        <li>Tapar la masa con papel manteca o aluminio y agregar algún tipo de peso (porotos, lentejas, etc) y llevar a un horno medio por unos 10 minutos. Retirar, sacar el peso y volver a llevar al horno otros 10 minutos hasta que los bordes estén dorados. Dejar enfriar. </li>

        <li> Lavar bien las frutillas, cortarles el cabito y filetearlas a lo largo. Reservar.</li>
        <li>En un bol colocar la leche con el azúcar y la ralladura de limón, y llevar al microondas a potencia máxima por dos minutos. </li>
        <li>En otro recipiente, batir la yema con un chorrito de leche. Agregar la maicena y batir hasta integrar. Colar encima la leche caliente y batir. </li>
        <li>Volver a llevar 1 minuto más al microondas a máximo. Batir energéticamente cuando salga y tapar con un film en contacto con la crema para que no se forme una capa de nata sobre nuestra crema pastelera. Dejar enfriar. </li>
        <li> En otro bol montar la crema de leche con el azúcar a medio punto. Cuando esté, agregar la crema pastelera e integrar bien. Volver a tapar con film en contacto.
        </li>
        <li>Preparar la gelatina como les dice el paquete y dejar enfriar a temperatura ambiente para que quede líquida. </li>
        <li>Vamos a armar nuestra tarta de frutillas: sobre la masa de tarta ya fría colocar la crema y esparcir bien. </li>
        <li> Con una cuchara y de a poco, cubrir con la gelatina fría toda la tarta. Llevar a la heladera por lo menos 1 hora antes de servir.</li>
         <a href="https://www.paulinacocina.net/tarta-de-frutillas/12108">
            Leer esta receta en <strong>Paulina Cocina</strong>
         </a>
         <br>
         <a href="RecetaDeLemonPie.html">
            Leer esta receta de <em>Lemon Pie</em>
         </a>
         <br>
         <a href="../../index.html">
            volver al inicio
         </a>

    </ol>

</body>
</html>